@import "../../app.scss";

.hero{
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #1d0c0c, #321111);
    overflow: hidden;
    position: relative;
    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: 0px 0px 0px 250px;
        
        @include tablate{
            margin: 0;
        }

        .textContainer{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            @include tablate{
                height: 50%;
                width: 100%;
                gap: 20px;
                align-items: center;
                text-align: center;
            }

            h2{
                font-size: 30px;
                color: pink;
            }
            h1{
                font-size: 69px;

                @include mobile{
                    font-size: 36px;
                }
            }
            button{
                padding: 20px;
                border:1px solid white;
                border-radius: 10px;
                background-color: transparent;
                color: white;
                margin-right: 10px;
                cursor: pointer;
                font-weight: 300;
            }
            img{
                width: 50px;
            }
        }
    }
    .imageContainer{
        img{
            position: absolute;
            right: 0;
            bottom: 0;
            height: 100%;

            @include tablate{
                // height: 50%;
                // left: 0;
                // display: block;
                // margin-left: auto;
                // margin-right: auto;
                display: none;

            }

            @include mobile{
                left: 0;
                height: 50%;
                display: block;
                margin-left:auto;
                margin-right:auto;
            }
        }
        
    }
    .slidingTextContainer{
        cursor: pointer;
        position: absolute;
        font-size: 50vh;
        bottom: -100px;
        white-space: nowrap;
        color: rgba(255, 255, 255, 0.086);
        width: 50%;
        font-weight: bold;
        
        
        

        @include tablate{
            bottom: 0;
            font-size: 50vh;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }

    
}